.card {
    width: 80%;
    border-radius: 10px;
    border-color: var(--TransparentWhite);
    background-color: var(--TransparentWhite);
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#card-content {
    text-align: center;
    font-family: "PT Sans Caption", sans-serif;
    color: white;
    font-size: 50px;
}

#card-content .color {
    color: #ffd900;
}

#card-content .color a{
    color: rgb(159, 255, 242);
    text-decoration: underline;
}

#card-content .color a:hover {
    color: rgb(0, 252, 63);
    transition: 0.3s;
    text-decoration: underline;
}

#special-text {
    font-family: "Alata", sans-serif;
    color: rgb(159, 255, 242);
    text-shadow: 2px 2px 4px #7f109b;
    font-size: 90px;
    text-align: center;
}

#about-container {
    display: flex;
    align-items: center; 
}

.about-header{
    position: relative;
    text-align: left;
    font-family: "Nanum Gothic Coding", monospace;
    color: rgb(255, 255, 255);
    margin-top: 2%; 
    padding-left: 11%;
    margin-bottom: -4%; 
}

#about-text {
    font-family: "PT Sans Caption", sans-serif;
    color: rgb(255, 255, 255);
    width: 60%;
    font-size: 25px;
    text-align: left;
    display: flex;
    flex-direction: column; 
}

.contact-text{
    font-family: "PT Sans Caption", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: left;
}

.contact-list{
    font-family: "PT Sans Caption", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: left;
    display: flex;
    flex-direction: column; 
}

.contact-icon{
    max-width: 25px;
    margin-right: 10px;
}

li a#contact-links {
    font-family: "Roboto Mono", monospace;
    color: black;
    text-decoration: underline; 
  }

li a#contact-links:hover {
    color: rgb(0, 204, 255);
    transition: 0.3s;
}

#about-text-more {
    font-family: "PT Sans Caption", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    margin-top: 3%;
}

#about-text ul.about-text li {
    color: rgb(255, 255, 255); 
    font-size: 20px; 
    font-style: italic; 
}

#about-photo {
    margin-left: 5%;
    max-width: 30%; 
    height: auto; 
    border-radius: 50%;
}

#card-links{
    display: flex;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    color: rgb(159, 255, 242);
    text-decoration: underline;
    justify-content: space-around; 
}

#card-links a {
    color: rgb(159, 255, 242);
}

#card-links a:hover {
    color: rgb(0, 252, 63);
    transition: 0.3s;
    text-decoration: underline;
}


@media only screen and (max-width: 600px) {
    #about-container {
        flex-direction: column;
        align-items: center;
    }

    #about-photo {
        margin-left: 0; 
        margin-bottom: 20px; 
        max-width: 90%; 
    }

    #about-text {
        width: 100%; 
        text-align: center; 
    }

    #about-text ul.about-text li {
        color: rgb(255, 255, 255); 
        font-size: 20px; 
        font-style: italic; 
        text-align: left
    }

    #card-content {
        font-size: 30px;
    }

    #special-text {
        font-size: 50px;
    }

    #card-links {
        font-size: 20px;
        flex-direction: column; 
        align-items: center; 
        padding: 0 10px; 
    }
}