:root {
    --MangoOrange: #f5a91b;
    --GrassyGreen: #8ac926;
    --HotPink: #F72585;
    --Magenta: #B5179E;
    --Purple: #7209B7; 
    --DarkPurple: #560BAD;
    --DarkestPurple: #480CA8;
    --Blueberry: #3F37C9;
    --Blue: #4361EE;
    --BabyBlue: #4895EF;
    --Cyan: #4CC9F0;
    --TransparentWhite: hsla(0, 0%, 100%, 0.103);
    --TransparentBlack: hsla(0, 0%, 0%, 0.116);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(80deg, var(--HotPink), var(--Magenta), var(--Cyan));
    font-family: "Nunito Sans", sans-serif;
}

.custom-navbar {
    background-color: var(--TransparentBlack) !important;
    padding: 5px 100px !important;
}

.navbar-brand {
    font-family: "Roboto Mono", monospace;
}

.nav-link {
    font-family: "Nanum Gothic Coding", monospace;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: rgb(46, 46, 46) !important;
    transition: 0.3s !important;
}

.nav-item.active .nav-link {
    color: white !important;
    text-decoration: underline;
}

.card {
    width: 80%;
    border-radius: 10px;
    border-color: var(--TransparentWhite);
    background-color: var(--TransparentWhite);
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#card-content {
    font-family: "PT Sans Caption", sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
    
}

#special-text {
    font-family: "Alata", sans-serif;
    color: rgb(159, 255, 242);
    text-shadow: 2px 2px 4px #7f109b;
    font-size: 90px;
    text-align: center;
}

#card-links{
    display: flex;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    color: rgb(159, 255, 242);
    text-decoration: underline;
    justify-content: space-around; 
}

#card-links a {
    color: rgb(159, 255, 242);
}

#card-links a:hover {
    color: rgb(0, 252, 63);
    transition: 0.3s;
    text-decoration: underline;
}

#blob-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#up, #down, #left, #right {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    filter: blur(50px);
    will-change: transform;
}

#up {
    height: 600px;
    width: 600px;
    background-image: linear-gradient(80deg, var(--Magenta), var(--MangoOrange));
    animation: down 20s infinite;
}

#down {
    right: 0;
    height: 400px;
    width: 400px;
    background-image: linear-gradient(80deg, var(--DarkPurple), var(--HotPink));
    animation: up 25s infinite;
}

#left {
    height: 400px;
    width: 400px;
    background-image: linear-gradient(80deg, var(--GrassyGreen), var(--BabyBlue));
    animation: left 25s 1s infinite;
}

#right {
    height: 400px;
    width: 400px;
    background-image: linear-gradient(100deg, var(--MangoOrange), var(--Magenta));
    animation: right 20s .5s infinite;
}

@keyframes down {
    0%, 100% { top: -50px; }
    70% { top: 500px; }
}

@keyframes up {
    0%, 100% { bottom: -50px; }
    70% { bottom: 500px; }
}

@keyframes left {
    0%, 100% { left: -50px; }
    70% { left: 1000px; }
}

@keyframes right {
    0%, 100% { right: -50px; }
    70% { right: 1000px; }
}
